# Dependências do Projeto R.A.P.T.O.R.
# Desenvolvido para Python 3.10+
# Visão Computacional e Processamento de Imagem
opencv-python>=4.8.0
mediapipe>=0.10.11
numpy>=1.24.0
Pillow>=10.0.0
# OCR
pytesseract>=0.3.10
# Matemática e Simbologia
sympy>=1.12
# Utilitários
requests>=2.31.0
# Reconhecimento por audio
pyaudio
SpeechRecognition